<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    

        <div formGroupName="credentials">
         
          <label>
            Email:
            <input type="email" formControlName="email">
          </label>
          <div *ngIf="userForm.get('credentials.email')?.invalid && (userForm.get('credentials.email')?.dirty || userForm.get('credentials.email')?.touched)" class="alert alert-danger">
              <div *ngIf="userForm.get('credentials.email')?.errors?.['required']">
               l'email est requis.
              </div>
              <div *ngIf="userForm.get('credentials.email')?.errors?.['email']">
                {{ userForm.get('credentials.email')?.errors?.['email'].rules }}
              </div>
            </div>
            
          <label>
              Mot de passe:
              <input type="password" formControlName="password">
          </label>
      </div>
   
    
    <button >envoyer</button>
</form>

